/*Specific Styles for the Master Approval Pipeline*/
/*Elements===================================*/
body {
  font-size: 12px;
}

h2 {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

label {
  float: left;
  padding-top: 5px;
  padding-right: 3px;
}

.navbar-collapse {
  font-size: 14px !important;
}

textarea {
  height: 80px !important;
}
/*Material Table=====================================*/
.mat-header-cell, .mat-cell{
  padding-left: 5px;
  top: -2px;
}
  
.table-container{
  height: 270px;
  overflow: auto;
}
/*=========================================*/
.table select {
  font-size: 10px;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  background-color: rgba(0, 0,0, 0.2);
  border: none;
  border-radius: 3px;
  padding: 2px;
}

div > .table select {
  min-height: 100%;
}

table {
  border-collapse: collapse;
}

table, td {
  border: 1px solid #ddd;
}

th {
  border: 1px solid #ddd;
}

td {
  vertical-align: middle !important;
  padding: 10px;
  
}

.hd_default {
  background-color: #f1f1f1 /*rgba(240, 240, 240, 0.8)*/;
  color: rgb(0, 0, 0);
}

#approvalTable {
  table-layout: fixed;
  overflow-x: hidden;
  width: 100%;
}

#divdataTable {
  border: 1px solid #ddd;
}
/*Rows*/
/*Columns*/

/*Headers*/
#ddlCheckIt {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}

#hd_i9 select, #hd_sent_to_payroll select, #hd_sent_to_studio select, #hd_studio select {
  color: white;
}

th > div {
  height: 72px;
}

.tableFixedHead {
  overflow-y: auto;
  height: 400px;
}

  .tableFixedHead thead th {
    position: sticky;
    top: -1px;
    border-bottom: 2px solid #777;
  }

#hd_check {
  padding-top: 15px;
  min-width: 150px;
  max-width: 150px;
}

.hd_i9 {
  background-color: rgb(227, 30, 30);
  color: rgb(255, 255, 255);
}

.hd_everify {
  background-color: rgb(227, 30, 30);
  color: rgb(255, 255, 255);
}

.hd_payroll_accountant {
  background-color: rgb(240, 240,0);
  color: rgb(0, 0, 0);
}

td.hd_payroll_accountant {
  background-color: rgba(240, 240,0, 0.2);
  color: rgb(0, 0, 0);
}

.hd_production_accountant {
  background-color: rgb(118, 238, 30);
  color: rgb(0, 0, 0);
}

td.hd_production_accountant {
  background-color: rgba(118, 238, 30, 0.2);
  color: rgb(0, 0, 0);
}

.hd_production_supervisor {
  background-color: rgb(198, 179, 255);
  color: rgb(0, 0, 0);
}

td.hd_production_supervisor {
  background-color: rgba(198, 179, 255,0.2);
  color: rgb(0, 0, 0);
}

.hd_aupm {
  background-color: rgb(255, 192, 203);
  color: rgb(0, 0, 0);
}

td.hd_aupm {
  background-color: rgba(255, 192, 203, 0.2);
  color: rgb(0, 0, 0);
}

.hd_upm {
  background-color: rgb(37, 232, 242);
  color: rgb(0, 0, 0);
}

td.hd_upm {
  background-color: rgba(37, 232, 242,0.2);
  color: rgb(0, 0, 0);
}

.hd_line_producer {
  background-color: rgb(255, 179, 102);
  color: rgb(0, 0, 0);
}

td.hd_line_producer {
  background-color: rgba(255, 179, 102,0.2);
  color: rgb(0, 0, 0);
}

.hd_studio {
  background-color: rgb(102, 179, 255);
  color: rgb(255, 255, 255);
}

td.hd_studio {
  background-color: rgba(102, 179, 255, 0.2);
  color: rgb(0, 0, 0);
}

.hd_sent_to_payroll {
  background-color: rgb(255, 128, 0);
  color: rgb(255, 255, 255);
}

td.hd_sent_to_payroll {
  background-color: rgba(255, 128, 0,0.2);
  color: rgb(0, 0, 0);
}

.hd_sent_to_studio {
  background-color: rgb(26, 140, 255);
  color: rgb(255, 255, 255);
}

td.hd_sent_to_studio {
  background-color: rgba(26, 140, 255,0.2);
  color: rgb(0, 0, 0);
}

td.hd_attachments {
  color: #999;
  font-style: italic;
  font-size: .85em;
}

  td.hd_attachments a {
    font-style: normal;
    text-decoration: underline;
  }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#projectSpan.truncate {
  display: inline-block;
  width: 60px;
}

#attachmentsSpan.truncate {
  display: inline-block;
  width: 100px;
}
/*
th span.truncate {
   display: inline-block;
   width: 40px;
   word-break: break-word;
}
    */
th span {
  display: inline-block;
  text-align: center;
}

select {
  color: black;
}

.cellAlign {
  vertical-align: middle;
}
/*Cells*/

/*End Table =================================*/
/*=========================================*/
/*IDs======================================*/
#container {
  margin: .5%;
  max-width: 100%;
}

#divFilterCompare, #divFilterStartDate, #divFilterTo, #divFilterEndDate {
  display: none;
}

#divFilterTo {
  padding-top: 5px;
}

#chkSortByPendingContainer {
  position: relative;
  top: 2px;
}

#popup_batchSend {
  font-size: 12px;
}
/*==========================================*/
/*Classes====================================*/
.adjust_chk {
  position: relative;
  top: 2px;
}

.clear-filters {
  text-align: right;
  padding-top: 5px;
}

  .clear-filters a {
    text-decoration: underline;
  }

.paginationContainer {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.active {
  background-color: rgb(15,158, 218) !important;
  color: rgb(255,255,255) !important;
}

.position_name {
  font-size: .85em;
  font-weight: bold;
  color: #999;
}

.startwork_name {
  font-size: .85em;
  color: #999;
}

.bottom-line {
  border-bottom: 1px solid #ddd;
}

.loaders {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url('/assets/images/loading-image.gif') 50% 50% no-repeat;
}

.hide_this {
  display: none;
}

.popup_title {
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.button-background {
  background-color: #f5f5f5;
  padding: 5px;
  border: 1px solid #ddd;
}

.special-text {
  font-size: .85em;
  padding-bottom: 5px;
}

input, select, .form-control {
  font-size: 10px;
}

.remove_top_border {
  border-top: none;
}

.remove_bottom_border {
  border-bottom: none;
}

.break {
  word-break: break-word;
}

.retro_links {
  text-decoration: underline;
}

.adjust-width {
  width: 8%;
}

.adjust-width-project {
  width: 7%;
}

.fine-print {
  font-size: .8em;
  color: #777;
}

.fine-print-red {
  font-size: .8em;
  color: #aa0000;
}

.normal-print-red {
  font-size: 11px;
  color: #aa0000;
}

.bottom-padding {
  padding-bottom: 5px;
}

.top-padding {
  padding-top: 5px;
}

.bottom-margin {
  margin-bottom: 5px;
}

#popup_batchSend div.row {
  margin-bottom: 5px;
}

#popup_batchSend div input {
  width: 100%;
  height: auto;
}

.has-error {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-spacing {
  padding-right: 20px;
}

#batchSearchField {
  font-weight: normal !important;
}

span.adjust-position {
  position: relative;
  top: -12px;
}

td.force-center {
  text-align: center !important;
}

.pending_my_review {
  color: #999;
}

.view-button {
  color: #000;
}
/*=========================================*/
/*Media Queries==============================*/
@media all and (min-width: 1600px) {
  #projectSpan.truncate {
    width: 110px;
  }

  #attachmentsSpan.truncate {
    width: 250px;
  }
}

@media all and (max-width: 1600px) and (min-width: 1440px) {
  #projectSpan.truncate {
    width: 85px;
  }

  #attachmentsSpan.truncate {
    width: 200px;
  }
}
