
<div class="table-container mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_default">Selection</th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.ToDo}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_default" colspan="2">Project</th>
      <td mat-cell *matCellDef="let row" colspan="2"><a href="#">{{row.ProductionName}}</a></td>
    </ng-container>
    <ng-container matColumnDef="crewmember">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_default" colspan="2">Crewmember</th>
      <td mat-cell *matCellDef="let row" colspan="2"><span class="break">{{row.FirstName}}&nbsp; {{row.LastName}}</span><br /><span class="position_name">{{row.Position}}</span><br /><span class="startwork_name">{{row.StartworkType}}</span></td>
    </ng-container>
    <ng-container matColumnDef="pending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_default text-center"><span class="text-center">Pending <br />My<br /> Review</span></th>
      <td mat-cell *matCellDef="let row" class="text-center">placeholder</td>
    </ng-container>
    <ng-container matColumnDef="i9">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_i9 text-center"><span>I-9<br/>Verified<br/></span></th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.I9VerifyValue}}</td>
    </ng-container>
    <ng-container matColumnDef="gk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_payroll_accountant text-center"><span>Gate<br/>Keeper<br/></span></th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.ApprovalPayrollAccountantValue}}</td>
    </ng-container>

    <ng-container matColumnDef="sp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_sent_to_payroll text-center"><span>Sent<br />to<br/>Payroll</span></th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.SentToPayrollShort}}</td>
    </ng-container>
    <ng-container matColumnDef="ss">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_sent_to_studio text-center"><span>Sent<br/>to<br/>Studio</span></th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.SentToStudioShort}}</td>
    </ng-container>
    <ng-container matColumnDef="at">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hd_default"><span>Attachments</span></th>
      <td mat-cell *matCellDef="let row" class="text-center">{{row.Attachments}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator #paginator
               [length]="dataSource?.data.length"
               [pageIndex]="0"
               [pageSize]="50"
               [pageSizeOptions]="[25, 50, 100, 250]">
</mat-paginator>
